{extend name="../view/base.html"}

{block name="main-content"}
<div class="container">

    <div class="mt-5 text-center">
        <p>聚合支付系统，一次开发对接多个支付！</p>
        <hr>
        <p>
            100%开源 采用宽松的MIT协议<br>
            Github：
            <a href="https://github.com/nanxuanmoke/pay_center"
                target="_blank">https://github.com/nanxuanmoke/pay_center</a>
        </p>
        <p>感兴趣的点个🌟star吧~</p>
        <p class="text-danger"><strong>禁止将本系统用于非法用途！</strong></p>
    </div>

</div>
{/block}