<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404，找不到页面！</title>
    <link rel="shortcut icon" href="__STATIC__/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <h1 class="display-1 mt-5">404，找不到页面！</h1>
    </div>
    <hr>
    <div class="container">
        <p>出现404，可能为以下原因：</p>
        <ul>
            <li>网页不存在；</li>
            <li>网页被移动；</li>
            <li>网页被删除。</li>
        </ul>
    </div>

</body>

</html>