<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>参数异常！</title>
    <link rel="shortcut icon" href="__STATIC__/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <h1 class="display-1 mt-5">❌参数异常！</h1>
    </div>
    <hr>
    <div class="container">
        <p>参数异常！</p>
        <ul>
            <li>请联系站点管理员处理；</li>
            <li>若您是站点管理员，请前往后台查看日志。</li>
        </ul>
    </div>

</body>

</html>